<main id="igit-app-view-subsystem">
    <div id="igit-app-view-div">
      <section class="igit-app-textview-section">
        <h3>App View</h3>
      </section>
      <section class="igit-app-formview-section">
        <label for="igit-app-label-search">Search</label>
        <input id="igit-app-label-search" type="text" />
        <button class="igit-global-btn">Submit</button>
      </section>
      <section class="igit-app-tableview-section">
        <table>
          <tbody>
            <tr><th>Column 1</th><th>Column 2</th></tr>
            <tr><td><a href="#">Item 1</a></td><td><a href="#">Item 1</a></td></tr>
            <tr><td><a href="#">Item 2</a></td><td><a href="#">Item 2</a></td></tr>
            <tr><td><a href="#">Item 3</a></td><td><a href="#">Item 3</a></td></tr>
          </tbody>
        </table>
      </section>
      <br style="clear:both"/>
    </div>
</main>
